[submodule "www/custom-lovelace"]
	path = www/custom-lovelace
	url = https://github.com/rtclauss/custom-lovelace.git
[submodule "custom_components/places"]
	path = custom_components/places
	url = https://github.com/rtclauss/places.git
