########################################
# Ignore everything by default
########################################
*

########################################
# Allow directory traversal
########################################
!*/

########################################
# Allow Home Assistant config files
########################################
!*.yaml
!*.yml
!.python-version
!README.md
!scripts/
!scripts/*.py
!scripts/*.sh

########################################
# Explicitly ignore sensitive files
########################################
secrets.yaml
known_devices.yaml
ip_bans.yaml
trusted_networks.yaml
google_calendars.yaml

########################################
# Ignore HA runtime & auth data
########################################
.storage/*
!.storage/lovelace*
!.storage/lovelace_dashboards*
!.storage/lovelace_resources*
!.storage/lovelace.*

########################################
# Ignore backups, logs, databases
########################################
*.log
*.db
*.db-shm
*.db-wal
.backup/
.backups/
cloud/
tts/
deps/
__pycache__/

########################################
# Ignore OS / editor junk
########################################
._*
.DS_Store
.vscode/*
!.vscode/settings.json
.vscode/
