SSH_TARGET="homeassistant@desk-ble-host"
SSH_PORT="22"
SSH_KEY="/config/ssh/uplift_ble_ed25519"
SSH_KNOWN_HOSTS="/config/ssh/uplift_ble_known_hosts"
SSH_STRICT_HOST_KEY_CHECKING="yes"
REMOTE_COMMAND="/usr/local/bin/uplift-desk-remote"
