command="/usr/local/bin/uplift-desk-remote",no-agent-forwarding,no-port-forwarding,no-pty,no-user-rc,no-X11-forwarding ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAREPLACE_WITH_HOME_ASSISTANT_PUBLIC_KEY uplift-ble-ha
