esphome:
  name: denbluetoothproxy
  project: 
    name: rtclauss.bluetooth
    version: 1.0.0

esp32:
  board: esp32dev
  framework:
    type: esp-idf
    # type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome
    password: "70342fb7c4171e7a76a18f21449c76a1"

# Sync time with Home Assistant.
time:
  - platform: homeassistant
    id: homeassistant_time

improv_serial:

wifi:
  ssid: !secret wifi_ap
  password: !secret wifi_password
  min_auth_mode: WPA2
  
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Bluetoothproxy1 Fallback Hotspot"
    password: "w6bg4m9c9rY7"

captive_portal:


dashboard_import:
  package_import_url: github://esphome/bluetooth-proxies/esp32-generic.yaml@main

esp32_ble_tracker:
  scan_parameters:
    interval: 300ms
    window: 300ms
    active: false

bluetooth_proxy:
xiaomi_ble:
