esphome:
  name: diningroom-bt-proxy
  project: 
    name: rtclauss.bluetoothproxy
    version: 1.0.0

esp32:
  board: esp32dev
  framework:
    type: esp-idf
    # type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome
    password: "a2165fb9213f0f478846082f5d7399e0"

# Sync time with Home Assistant.
time:
  - platform: homeassistant
    id: homeassistant_time

improv_serial:

wifi:
  ssid: !secret wifi_ap
  password: !secret wifi_password
  min_auth_mode: WPA2

  # manual_ip:
  #   # Set this to the IP of the ESP
  #   static_ip: 192.168.1.168
  #   # Set this to the IP address of the router. Often ends with .1
  #   gateway: 192.168.1.1
  #   # The subnet of the network. 255.255.255.0 works for most home networks.
  #   subnet: 255.255.255.0
  
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "LivingRoomBt Fallback Hotspot"
    password: "w6bg4m9c9rY7"


captive_portal:

dashboard_import:
  package_import_url: github://esphome/bluetooth-proxies/esp32-generic.yaml@main

esp32_ble_tracker:
  scan_parameters:
    interval: 300ms
    window: 300ms
    active: false

bluetooth_proxy:

xiaomi_ble:
